* {
  margin: 0;
  padding: 0;
  object-fit: contain;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Soleil", Arial, sans-serif;
}

body {
  background-color: #f7f7f8;
}

.app {
  padding: 0 32px;
  padding-top: 60px;
}

.list {
  padding: 64px 0;
}
