.datalist {
  display: flex;
  flex-direction: column;
}

.warmup {
  color: black !important;
  opacity: 1 !important;
}

.head {
  display: flex;
  align-items: center;
}

.num {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.title h3 {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.description p {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
}

.card-area {
  padding: 24px;
  margin-right: 24px;
  transition: 0.3s;
}

.card-area:hover {
  box-shadow: 0px 0px 8px 1px #888888;
}

.cards {
  position: relative;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  overflow-x: hidden;
  padding: 24px 0;
}

.cards-active {
  flex-wrap: wrap;
}

.card {
  width: 280px;
}

.image {
  display: inline-block;
  width: 280px;
  height: 170px;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}

.dark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.75;
}

.dark svg {
  color: white !important;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 4px solid #80808038;
}

.card-text h4 {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

.card-text p {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.5;
  margin-bottom: 20px;
}
